<app-layout></app-layout>
<div class=" container">
    <!-- <div class="card">
        <div class="flip-card-front">
            <div class="header card-img-top">
                <img class="card-img-left" [src]="'data:image/jpg;base64,'+ data.awardImage" alt="Award image">

                <img class="card-img-right" [src]="'data:image/jpg;base64,'+ data.awardeeImage" alt="Awardee Image">
                <h2 class="card-title">Congrats {{data.awardeeName}} for getting <br>{{data.awardName}} </h2>
                <h2 class="card-title"></h2>
            </div>
            <div class="card-img-overlay">
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-body-title">{{data.awardeeName}}</h2>
            <h4>{{data.reason}}</h4>
        </div>
        <div class="bottom">
            <div>

                <i class="fa-solid fa-angle-up "></i>
                <h3>View Comments </h3>
            </div>
        </div>
    </div> -->


    <!-- sasi -->
    <div class="card">
        <div class="card-message">
            <div class="flip-card-front">
                <div class="header card-img-top">
                    <img class="card-img-left" [src]="'data:image/jpg;base64,'+ data.awardImage" alt="Award image">

                    <img class="card-img-right" [src]="'data:image/jpg;base64,'+ data.awardeeImage" alt="Awardee Image">
                    <h2 class="card-title">Congrats {{data.awardeeName}} for getting <br>{{data.awardName}} </h2>
                    <h2 class="card-title"></h2>
                </div>
            </div>
            <div class="card-body">
                <h2 class="card-body-title">{{data.awardeeName}}</h2>
                <h4>{{data.reason}}</h4>
            </div>
        </div>
        <label for="card_comments" class="button">
            <i class="fa-solid fa-angle-up "></i>
            <h3>View Comments</h3>
        </label>
        <input type="checkbox" name="comments" id="card_comments">
        <div class="card-comments">
            <span>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, accusantium ipsa? Maiores optio
                aliquid soluta et architecto, provident assumenda. Corrupti, provident! Laudantium sint similique
                exercitationem voluptates eveniet deleniti aperiam soluta!
            </span>
        </div>
    </div>

</div>