<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-layout></app-layout>

<div class="backbutton">
    <div class="button-group">
        <button [routerLink]="['/homecard/0']" class="btn btn-primary pull-left btn btn-info "><i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class=" container">
  
    <!-- <div class="card">
        <div class="flip-card-front">
            <div class="header card-img-top">
                <img class="card-img-left" [src]="'data:image/jpg;base64,'+ data.awardImage" alt="Award image">

                <img class="card-img-right" [src]="'data:image/jpg;base64,'+ data.awardeeImage" alt="Awardee Image">
                <h2 class="card-title">Congrats {{data.awardeeName}} for getting <br>{{data.awardName}} </h2>
                <h2 class="card-title"></h2>
            </div>
            <div class="card-img-overlay">
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-body-title">{{data.awardeeName}}</h2>
            <h4>{{data.reason}}</h4>
        </div>
        <div class="bottom">
            <div>

                <i class="fa-solid fa-angle-up "></i>
                <h3>View Comments </h3>
            </div>
        </div>
    </div> -->


    <div class="card">
        <div class="card-message">
            
                <div class="header card-img-top">
                    <img class="card-img-left" [src]="'data:image/jpg;base64,'+ data.awardImage" alt="Award image">

                    <img class="card-img-right" [src]="'data:image/jpg;base64,'+ data.awardeeImage" alt="Awardee Image">
                    <h2 class="card-title">Congrats {{data.awardeeName}} for getting <br>{{data.awardName}} </h2>
                </div>
            
            <div class="card-body">
                <h2 class="card-body-title">{{data.awardeeName}}</h2>
                <h4>{{data.reason}} Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum velit fuga odit, debitis voluptatum repudiandae quas, consequuntur provident eaque dolor in quis minus quibusdam earum quo obcaecati magnam animi laudantium? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sapiente itaque iure nihil aspernatur delectus temporibus hic unde consectetur, at ducimus vero Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate saepe cum id excepturi dicta expedita at minus, molestias et consectetur explicabo modi obcaecati atque iure porro odio officia quam soluta. quasi optio eos possimus! Enim labore architecto temporibus. </h4>
            </div>
        </div>
        <input type="checkbox" #checkBox name="comments" (click)="onViewComment()" id="card_comments">
        <label for="card_comments">
            <i id="iconcolor" class="fa-solid fa-angle-down "></i>
            <h3 *ngIf="isClicked!=true" id="bottom">View Comments </h3>
            <h3 *ngIf="isClicked==true" id="bottom">Hide Comments </h3>
        </label>
        <div class="card-comments">
                <div class="inner-addon right-addon">
                    <i (click)="OnSubmit()" class="sendicon fa-solid fa-paper-plane"></i>
                        <input type="text" (click)="LogintoComment()" #comment="ngModel" required placeholder="Type comments" class="form-control" name="comments"
                         [(ngModel)]="Comments.comments">             
            </div>
            <hr>

            <div class="allcomments">
                <div class="d-flex row justify-content-between" *ngFor="let item of commentList">
                    <div class="d-flex flex-row ">
                        <div *ngIf="item.employeeImage==null ; else elseimage">
                            <img *ngIf="item.gender=='Male';else elsegender " src='assets/images/male.jpg'
                                class="rounded-circle img-fluid" />
                            <ng-template #elsegender> <img src='assets/images/female.jpg'
                                    class="rounded-circle img-fluid" />
                            </ng-template>
                        </div>
                        <ng-template #elseimage>
                            <div class="commenterimage text-center"><img
                                    [src]="'data:image/jpg;base64,'+ item.employeeImage"
                                    class="rounded-circle img-fluid" /></div>
                        </ng-template>
                        <h3 class="commentername">{{item.employeeName}}</h3>
                        <h3 class="dateandtime">{{item.commentedOn | date:'MMM d, y - h:mm a'}}</h3>

                    </div>
                    <h4 id="heading">{{item.comments}}</h4>
                </div>
                <p class="no-records" *ngIf="commentList.length == 0">Be the first one to Comment</p>
            </div>
        </div>
    </div>
</div>