<app-layout></app-layout>
<app-admin-sidebar></app-admin-sidebar>
<div class="container d-flex justify-content-center ">

    <!-- Write your contents here -->

    <div class="container container-fluid ">
        <div>
            <div class="btn-group">
                <a [routerLink]="['../add-department']" class="btn btn-primary"> <i class="fa-solid fa-layer-group"></i>+ Add Department</a>
            </div>

            <div class="form-inline btn-group search">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control" [(ngModel)]="val" />
                  <label class="form-label" for="form1">Search</label>
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
            </div>


        </div>
        <br>


        <table cellpadding="5" cellspacing="5" class="table table-striped table-bordered ">
            <thead>
                <tr class="text-center">
                    <th>Department ID</th>
                    <th>Department Name</th>
                    <th>Organisation Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let item of data | filter:val | paginate: { itemsPerPage: 10, currentPage: page };let i = index ">
                    <td>{{ i + 1 }}</td>
                    <td>{{item.departmentName}}</td>
                    <td>{{item.organisationName}}</td>

                    <td> <a [routerLink]="['../edit-department',item.id]" class="btn btn-primary" target="_self"><i class="fa-solid fa-pen-to-square" title="Edit"></i></a>

                        <a href="#" class="btn btn-danger" target="_self"><i class="fa-solid fa-user-slash" data-toggle="modal" data-target="#Mymodal"title="Disable"></i></a></td>
                    <div class="modal fade" id="Mymodal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-center">
                                        Warning!
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    You have to change the corresponding department of this organisation.
                                </div>
                                <div class="modal-footer">
                                    <a href="Disable employee.html" class="btn btn-primary" target="_self">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

       
    </div>
