<app-layout></app-layout>
<app-sidebar></app-sidebar>
<link href="https://fonts.googleapis.com/css?family=Schoolbell&v1" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&family=Splash&display=swap"
  rel="stylesheet">

<!-- My awards filter container contains search filter, award dropdown, date picker -->

<div class="myawards">
  <div class="awardfilter row">
    <div id="awardfilter">
      <label class="col-form-label" for="exampleFormControlSelect1">Award Type</label>
      <div class="input-group">
        <select name="awardTypeId" required class="custom-select">
          <div class="alert alert-danger">
            Award Name is Required!
          </div>
          <option selected>Choose...</option>
          <option *ngFor="let items of awardData" value={{items.id}}>{{items.awardName}}</option>
        </select>
      </div>
    </div>
    <div id="datepicker">
      <label class="col-form-label" for="fromdate">From Date:</label>
      <div class="input-group col-auto p-1.5">
        <input class="custom-select " type="date" id="fromdate" name="fromdate">
      </div>
    </div>
    <div id="datepicker">
      <label class="col-form-label" for="todate">To Date:</label>
      <div class="input-group col-auto p-1.5">
        <input class="custom-select " type="date" id="fromdate" name="todate">
      </div>
    </div>
    <div class="applybutton">
      <button id="applybutton" type="submit">Apply</button>
    </div>
  </div>
</div>
<!-- my awards card container contains award image, awardee image -->

<div class=" container row" id="cardflip">

  <div class="card" *ngFor="let item of awardData">
    <div class="flip-card-inner">
      <img src="./assets/images/cardback.png" class="card-img-top" alt="Fissure in Sandstone" />
      <div class="card-img-overlay">
        <img class="card-img-left" [src]="'data:image/jpg;base64,'+ item.awardImage" alt="Avatar">
      </div>
      <div class="card-img-overlay">
        <img class="card-img-right" [src]="'data:image/jpg;base64,'+ item.awardeeImage" alt="Avatar">
      </div>
      <div class="card-body">
        <p id="text"><b>{{item.awardeeName}}</b></p>
        <h4 [ngClass]="{'limitTextHeight': isReadMore}">{{item.reason}}</h4>
      </div>
      <button [routerLink]="['/morecomments',item.id]">
        {{ isReadMore ? 'Read More...': 'Read Less...' }}
      </button>
    </div>
  </div>
</div>