p{
    line-height:20px;
    font-weight: 800;
}
h2{
    font-weight: bold;

}
img{
    width:100px;
    height:100px;
    min-height:100px;
}
.card{
    width: 50%;
    border-radius: 10px;
}
.container{
    padding-top:5px;
}
