<app-layout></app-layout>
<app-sidebar></app-sidebar>
<div class="container d-flex justify-content-center ">

    <div class="card " >
        <div class="card-body">
            <div class=" rounded-circle text-center" *ngIf="data.image==null ; else elseimage">
                    <img *ngIf="data.gender=='Male';else elsegender " src='assets/images/male.jpg' style=width:10rem; class="rounded-circle img-fluid" style="width: 100px;" />  
                    <ng-template #elsegender> <img  src='assets/images/female.jpg' style=width:10rem; class="rounded-circle img-fluid" style="width: 100px;" /></ng-template>     
                </div>
                <ng-template  #elseimage><div class="mt-3 mb-4 text-center"><img [src]="'data:image/jpg;base64,'+ data.image" style=width:10rem; class="rounded-circle img-fluid" style="width: 100px;" /></div></ng-template>
            <br>
            <div class="text-center"> 
                <h3 class="mb-0">{{data.firstName}} {{data.lastName}}</h3>
            </div>
            <hr>
            <div class="row text-center">
                <div class="col-sm-6">
                    <h3 class="mb-0">ACE ID</h3>
                    <h4 class="text-muted mb-0">{{data.aceid}}</h4>
                </div>

                <div class="col-sm-6">
                    <h3 class="mb-0">Gender</h3>
                    <h4 class="text-muted mb-0">{{data.gender}}</h4>
                </div>
            </div>
            <hr>

            <div class="row text-center">
                <div class="col-sm-6">
                    <h3 class="mb-0">Email</h3>
                    <h4 class="text-muted mb-0">{{data.email}}</h4>
                </div>

                <div class="col-sm-6">
                    <h3 class="mb-0">DOB</h3>
                    <h4 class="text-muted mb-0">{{data.dob| date:'dd-MM-YYYY'}}</h4>
                </div>
            </div>
            <hr>

            <div class="row text-center">
                <div class="col-sm-6">
                    <h3 class="mb-0">Designation</h3>
                    <h4 class="text-muted mb-0">{{data.designationName}}</h4>
                </div>

                <div class="col-sm-6">
                    <h3 class="mb-0">Department</h3>
                    <h4 class="text-muted mb-0">{{data.departmentName}}</h4>
                </div>
            </div>
            <hr>

            <div class="row text-center">
                <div class="col-sm-6">
                    <h3 class="mb-0">Organisation</h3>
                    <h4 class="text-muted mb-0">{{data.organisationName}}</h4>
                </div>

                <div class="col-sm-6">
                    <h3 class="mb-0">HR Name</h3>
                    <h4 class="text-muted mb-0">{{data.hRName}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>