h3{
    line-height:20px;
    font-weight: 400;
}
h2{
    font-weight: bold;
    font-size: medium;
    line-height:15px;
}
img{
    width:100px;
    height:100px;
    min-height:100px;
}
.card{
    border-radius: 10px;
    margin-top:25px;
}

.card-body{
 text-align: center;
}

@media(max-width:1280px){
    .card{
        width: 60%;
    }
}
@media(max-width:912px){
    .card{
        margin-top: 100px;
        margin-left: 0;
    }
}
@media(max-width:500px){
    .card{
        
        width:250px;
    }

}
