h3{
    line-height:20px;
    font-weight: 500;
}
h2{
    font-weight: bold;
    font-size: medium;
    line-height:20px;
}
img{
    width:100px;
    height:100px;
    min-height:100px;
}
.card{
    width: 40%;
    border-radius: 10px;
}
.container{
    padding-top:5px;
}
