<app-layout></app-layout>
<app-admin-sidebar></app-admin-sidebar>
<div class="container d-flex justify-content-center table-box">

    <form class="border-box position-relative" #myForm="ngForm" (ngSubmit)="OnSubmit()">

        <span class="border-box-tip"><b>Add Department</b></span>

        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="row-auto p-1.5 align-items-center">
                <label for="dept" class="col-form-label">Organsiation</label>

                <div class="input-group">
                    <select name="selectOrg" [(ngModel)]="selectOrg" (change)="onSelect()" class="custom-select"   >
                              <option selected>Choose...</option>
                              <option *ngFor="let items of organsiations"  ngValue={{items.id}} >{{items.organisationName}}</option>
                            </select>
                </div>
            </div>
                <div class="row-auto p-1.5 align-items-center">
                    <label for="dept" class="col-form-label">Department</label>
                <div class="input-group">
                    <select name="departmentID" [(ngModel)]="Designation.departmentID" class="custom-select"   >
                              <option selected>Choose...</option>
                              <option *ngFor="let items of departments"  ngValue={{items.id}} >{{items.departmentName}}</option>
                    </select>
                </div>
            </div> 
            <div class="row-auto p-1.5 align-items-center">
                <label for="firstName" class="col-form-label">Designation Name</label>
                <input type="text"  class="form-control" name="designationName" [(ngModel)]="Designation.designationName" >
            </div>   
        </div>
            
        <div class="row justify-content-center align-items-center mt-5 button-group">
            <button  type="submit" class="btn btn-primary col-lg-2" [disabled]="!myForm.form.valid"> Add </button>
            <button [routerLink]="['../designation']" class="btn btn-danger col-lg-2">Back</button>
           
        </div>
    </form>
</div> 
