<app-layout></app-layout>
<app-sidebar></app-sidebar>
<div class="container d-flex justify-content-center table-box">

    <form  class="border-box position-relative" #myForm="ngForm" (ngSubmit)="OnSubmit()">

        <span class="border-box-tip"><b>Add Organisation</b></span>

        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">
                <label class="col-form-label">Organisation Name</label>
                <input type="text"  #organisationName="ngModel" required pattern="^[a-zA-Z][a-zA-Z\s]{0,20}[a-zA-Z]$" class="form-control" name="organisationName" [(ngModel)]="Organisation.organisationName" >   
                <div *ngIf ="organisationName.touched && organisationName.errors?.['required']" class="alert alert-danger">
                    Organisation Name is Required!
                </div>
                <div *ngIf ="organisationName.touched && organisationName.errors?.['pattern']" class="alert alert-danger" >
                    Organisation Name is invalid!
                </div>
            </div>
        </div>
       

        <div class="row justify-content-center align-items-center mt-5 button-group">
            <button type="submit" class="btn btn-primary col-lg-2" [disabled]="!myForm.form.valid"> Add </button>
            <button [routerLink]="['/organisation']" class="btn btn-danger col-lg-2">Back</button>
        </div>
    </form>
</div>
