.space {
   width: 8px;
    height: auto;
    display: inline-block;
  }
  #description
  {
    height:4rem;
    width:30rem;
    overflow:hidden;
  }
  #main-container{
    display: flex;
    justify-content: center;
  }
  .tablerow{
    text-align: center;
  }
  .pagination{
    justify-content:center;
  }
