<app-layout></app-layout>
<app-sidebar></app-sidebar>
<div class="container d-flex justify-content-center ">

    <div class="container container-fluid ">
        <div>
            <div class="btn-group">
                <a [routerLink]="['../add-awards']" class="btn btn-primary"> <i class="fa-solid fa-trophy"></i>+ Add Awards </a>
            </div>
            <div class="form-inline btn-group search">
                <input type="search" class="form-control rounded" [(ngModel)]="val" placeholder="Search" aria-label="Search" aria-describedby="search-addon" /> 
              </div>
        </div>
        <br>

        <table class="datatable table table-striped table-bordered ">
            <thead>
                <tr class="text-center">
                    <th>S.NO</th>
                    <th>Award Name</th>
                    <th>Award Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let item of data | filter:val | paginate: { itemsPerPage: 5, currentPage: page };let i = index">
                    <td>{{5*(page-1)+i + 1}}</td>
                    <td>{{item.awardName}}</td>
                    <td>{{item.awardDescription}}</td>
                    <td> <button [routerLink]="['../edit-award',item.id]"  class="btn btn-primary" ><i class="fa-solid fa-pen-to-square" title="Edit"></i></button><div class="space"></div>
                        <button routerLink={{item.id}} class="btn btn-success" ><i class="fa-solid fa-circle-info" title="Details"></i></button><div class="space"></div>
                        <button class="btn btn-danger" (click)="Disable(item.id)" ><i class="fa-solid fa-user-slash" data-toggle="modal" data-target="#Mymodal"title="Disable"></i></button></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>

