.card {
    width: 40%;
    border-radius: 10px;
    margin-top: 25px;
}

h3 {
    line-height: 20px;
    font-weight: 500;
}

h2 {
    font-weight: bold;
    font-size: medium;
    line-height: 20px;
}