<app-layout></app-layout>
<app-approver-sidebar></app-approver-sidebar>


        <!-- Write your contents here -->


        <div class="container d-flex justify-content-center">

            <!-- Write your contents here -->
    
    
            <div class="container container-fluid ">
                <div>
                   
    
                    <div class="btn-group search me-3">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" placeholder="search" />
                        </div>
                        <button type="button" class="btn btn-primary search">
                                  <i class="fas fa-search" ></i>
                                  </button>
                    </div>
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-primary"> Status </button>
                        <select name="" id="">
                                        <option>Pending</option>
                                        <option>Approved</option>
                                        <option>Rejected</option>
                                    </select>
                        <ul class="dropdown-menu dropdown-item-hovering ">
                            <li><a class="dropdown-item" href="#">Pending</a></li>
                            <li><a class="dropdown-item" href="#">Approved</a></li>
                            <li><a class="dropdown-item" href="#">Rejected</a></li>
                        </ul>
                    </div>
    
    
                </div>
                <br>
    
    
                <table cellpadding="5" cellspacing="5" class="datatable table table-striped table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>ACE ID</th>
                            <!-- <th>Name</th> -->
                            <th>Award</th>
                            <!-- <th>Date</th> -->
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let item of data">
                            <td>{{item.awardeeId}}</td>
                            <!-- <td>{{item.awardeeName}}</td> -->
                            <td>{{item.awardTypeId}}</td>
                            <!-- <td>{{item.AddedOn}}</td> -->
                            <td>{{item.statusId}}</td>
                            <td>
                                <a [routerLink]="['../approver-acceptreject',item.id]" class="btn btn-success" target="_self"><i  class="fa-solid fa-circle-info"  title="Details"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
    
                <section id="Paging ">
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination justify-content-center ">
                            <li class="page-item ">
                                <a class="page-link " href="# " aria-label="Previous ">
                                    <span aria-hidden="true ">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item "><a class="btn btn-primary " href="# ">1</a></li>
                            <li class="page-item "><a class="btn btn-primary " href="# ">2</a></li>
                            <li class="page-item "><a class="btn btn-primary " href="# ">3</a></li>
                            <li class="page-item ">
                                <a class="page-link " href="# " aria-label="Next ">
                                    <span aria-hidden="true ">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </section>
            </div>