
	
	<div class="limiter ">
		<div class="container-login100 ">		
			<div class="wrap-login100 pb-5">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="./assets/images/img-01.png" alt="IMG">
				</div>
				

				<form class="login100-form validate-form">
					<span class="login100-form-title">
					Forgot Password
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid ACEID is required">
						<input class="input100" type="text" required #AceID="ngModel" [(ngModel)]="user.AceID" id="AceID" name="AceID" placeholder="Ace Id">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
						<div class="text-danger " style="text-align:center ;" [class.d-none]="AceID.valid || AceID.untouched" *ngIf="AceID.errors?.['required']">
							Ace Id is required.
						  </div>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Valid Email is required">
						<input class="input100" type="text" required pattern= "[0-9a-zA-Z]@[a-zA-Z]+.[a-zA-Z]{2,}$" #email="ngModel" [(ngModel)]="user.email" id="email" name="email" placeholder="E-Mail">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
						<div class="text-danger " style="text-align:center ;" [class.d-none]="email.valid || email.untouched" *ngIf="email.errors?.['required']">
							Email Address is required.
						  </div>
					</div>
					
					<div class="container-login100-form-btn ">
						<button class="login100-form-btn ">
							Send My Password
						</button>
					</div>
					<div class="container-login100-form-btn pb-4">
						<a class="btn  login100-form-cancel-btn" routerLink="../login" role="button">Cancel</a>
					</div>

					
					
				
				</form>
			</div>
		</div>
	</div>
	
	

	
