.img-fluid{
    width:100px;
}
.card{
    border-radius:15px;
    width:500px;
    margin-top:10px;
    transform: scale(0.9);
}
.row{
    text-align: center;
}
h3{
    line-height:20px;
    font-weight: 800;
}
h2{
    font-weight: bold;
    font-size: medium;
    line-height:20px;
}