<div class="form-group shadow-textarea">

    <form #myForm="ngForm">
        <mat-dialog-content>
        <h2>Enter Rejection Reason</h2>
        <textarea matInput  name="reason" [(ngModel)]="data.reason" #reason="ngModel" required pattern="[/\w*\s*|\w|\D/gm]{10,1000}"  placeholder="Write something here..."></textarea>
        <div *ngIf="reason.touched && reason.errors?.['required']" class="text-danger">
            Reason is Required!
          </div>
          <div *ngIf="reason.touched && reason.errors?.['pattern']" class="text-danger">
            Shouldn't Exceed 1000 characters!
          </div>
    </mat-dialog-content>
        <div class="text-center mt-4">
            <!-- <button type="submit" class="btn btn-success">Submit</button> -->

            <button class="btn btn-primary" [routerLink]="['/awardlist/3']" [disabled]="!myForm.form.valid" [mat-dialog-close]="data.reason">Ok</button>
            <button (click)="close()" class="btn btn-danger"  >Close</button>
        </div>

    </form>
</div>

