<app-layout></app-layout>
<app-sidebar></app-sidebar>
<!-- <div class="content"> -->
    <div class="backbutton">
        <div class="button-group back">
            <button *ngIf="pageId==3" [routerLink]="['/awardlist/4']"   class=" btn btn-primary pull-left btn btn-info "><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <button *ngIf="pageId==2" [routerLink]="['/awardlist/3']"   class=" btn btn-primary pull-left btn btn-info "><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <button *ngIf="pageId==1" [routerLink]="['/awardlist/2']"   class=" btn btn-primary pull-left btn btn-info "><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="container">
     
        <div class="item-image">
            <div class=" rounded-circle text-center img1">
                <div class=" text-center" *ngIf="data.awardeeImage==null ; else elseimage">
    
                    <img *ngIf="data.gender=='Male';else elsegender " src='assets/images/male.jpg'
                        class="rounded-circle img-fluid" />
                    <ng-template #elsegender> <img src='assets/images/female.jpg' class="rounded-circle img-fluid" />
                    </ng-template>
                </div>
                <ng-template #elseimage>
                    <div class=" text-center"><img [src]="'data:image/jpg;base64,'+ data.awardeeImage"
                            class="rounded-circle img-fluid" />
                    </div>
                </ng-template>
    
                <div class=" rounded-circle text-center img2">
                    <div class=" text-center" *ngIf="data.awardImage==null ; else elseawardimage">
                        <img src='assets/images/award.png' class="rounded-circle img-fluid" />
                    </div>
                    <ng-template #elseawardimage>
                        <div class=" text-center"><img [src]="'data:image/jpg;base64,'+ data.awardImage"
                                class="rounded-circle" /></div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="item-content">
            <div class="text-center">
                <h2>
                    {{data.awardeeName}}
                </h2>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link" (click)="reason()">Reason</button>
                    </li>
                    <li class="nav-item" *ngIf="data.statusId==3">
                        <button class="nav-link" (click)="rejectionreason()">Rejection Reason</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link " (click)="about()" role="tab">About</button>
                    </li>
                </ul>
    
                <div class="about-content show active" id="about">
                    <div class="about" *ngIf="show==3">
                        <div class="row">
                            <div class="col">
                                <label>ACEID</label>
                            </div>
                            <div class="col">
                                <label>{{data.aceId}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Name</label>
                            </div>
                            <div class="col">
                                <label>{{data.awardeeName}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Designation</label>
                            </div>
                            <div class="col">
                                <label>{{data.designation}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Department</label>
                            </div>
                            <div class="col">
                                <label>{{data.department}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Award</label>
                            </div>
                            <div class="col">
                                <label>{{data.awardName}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Approver</label>
                            </div>
                            <div class="col">
                                <label>{{data.approverName}}</label>
                            </div>
                        </div>
                        
                      
                    </div>
                    <div class="awardreason" *ngIf="show==1">
                        <p>{{data.reason}}
                        </p>
                    </div>
                    <div class="rejectreason" *ngIf="show==2">
                        <p>{{data.rejectedReason}}
                        </p>
                    </div>
                    
                </div>
                <div class="button">
                    <div *ngIf="pageId==2">
                        <div class="text-center button-group" *ngIf="data.statusId==1">
                            <button class="btn btn-success " (click)="OnAccept()">Accept</button>
                            <button class="btn btn-danger " (click)="OnReject()">Reject</button>
                        </div>
                    </div>
                    <div  *ngIf="pageId==3">
                        
                           <form #myForm="ngForm">
                            <div class="row" *ngIf="data.statusId==2 || data.statusId==4">
                                <div class="col couponName">
                                    <label>Coupon Code</label>
                                </div>
                                <div class="col coupon" *ngIf="data.statusId==2">
                                    <input type="text" name="coupon" #coupon="ngModel" [(ngModel)]="data.couponCode"
                                        required pattern="^[a-zA-Z0-9]{9,50}$" >
    
                                    <div *ngIf="coupon.touched && coupon.errors?.['required']" class="text-danger error">
                                        Coupon is Required!
                                    </div>
                                    <div *ngIf="coupon.touched && coupon.errors?.['pattern']" class="text-danger error">
                                       Must be within 9-50 characters!
                                    </div>
                                    <div>
                                        <h3 class="text-danger">{{error}}</h3>
                                    </div>
                                </div>
                                <div class="col coupondetail " *ngIf="data.statusId==4">
                                    <label>{{data.couponCode}}</label>
                                </div>
                                <div class=" publish col" *ngIf="data.statusId==2">
                                    <button (click)="onPublish()" [disabled]="!myForm.form.valid"  class="btn btn-primary">Publish</button>
                                </div>
                            </div>
                           </form>
                        
                        
                    </div>
                </div>
            </div>
    
    
    
        </div>
    </div>
<!-- </div> -->
