<app-layout></app-layout>
<app-sidebar></app-sidebar>

<div class="container">
    <div class="item-image">
        <div class=" rounded-circle text-center img1">
            <div class=" text-center" *ngIf="data.awardeeImage===null ; else elseimage">

                <img *ngIf="data.gender==='Male';else elsegender " src='assets/images/male.jpg'
                    class="rounded-circle img-fluid" />
                <ng-template #elsegender> <img src='assets/images/female.jpg' class="rounded-circle img-fluid" />
                </ng-template>
            </div>
            <ng-template #elseimage>
                <div class=" text-center"><img [src]="'data:image/jpg;base64,'+ data.awardeeImage"
                        class="rounded-circle img-fluid" />
                </div>
            </ng-template>

            <div class=" rounded-circle text-center img2">
                <div class=" text-center" *ngIf="data.awardImage===null ; else elseawardimage">
                    <img src='assets/images/award.png' class="rounded-circle img-fluid" />
                </div>
                <ng-template #elseawardimage>
                    <div class=" text-center"><img [src]="'data:image/jpg;base64,'+ data.awardImage"
                            class="rounded-circle" /></div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="item-content">
        <div class="text-center">
            <h2>
                {{data.awardeeName}}
            </h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" (click)="about()" role="tab" >About</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" (click)="reason()">Reason</button>
                </li>
                <li class="nav-item" *ngIf="data.statusId===3">
                    <button class="nav-link" (click)="rejectionreason()">Rejection Reason</button>
                </li>
            </ul>

            <div class="about-content show active" id="about">
                <div class="about" *ngIf="show==1" >
                    <div class="row">
                        <div class="col-md-6">
                            <label>ACEID</label>
                        </div>
                        <div class="col-md-6">
                            <label>{{data.aceId}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <label>{{data.awardeeName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Designation</label>
                        </div>
                        <div class="col-md-6">
                            <label>{{data.designation}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Department</label>
                        </div>
                        <div class="col-md-6">
                            <label>{{data.department}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Award</label>
                        </div>
                        <div class="col-md-6">
                            <label>{{data.awardName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Approver</label>
                        </div>
                        <div class="col-md-6">
                            <label>{{data.approverName}}</label>
                        </div>
                    </div>
                    <div class="row" *ngIf="data.statusId===2 || data.statusId==4">
                        <div class="col-md-6">
                            <label>Coupon Code</label>
                        </div>
                        <div class="col-md-6" *ngIf="data.statusId===2">
                            <input type="text" name="coupon" #coupon="ngModel" [(ngModel)]="data.couponCode" required
                                pattern="^[a-zA-Z0-9]+$" minlength="10" maxlength="50">

                            <div *ngIf="coupon.touched && coupon.errors?.['required']" class="text-danger">
                                Coupon is Required!
                            </div>
                            <div *ngIf="coupon.touched && coupon.errors?.['pattern']" class="text-danger">
                                Coupon is invalid! eg:Awesome20
                            </div>
                            <div>
                                <h3 class="text-danger">{{error}}</h3>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="data.statusId===4">
                            <label>{{data.couponCode}}</label>
                        </div>
                    </div>

                    <div class="button">
                        <div class="text-center" *ngIf="data.statusId==4 || data.statusId==3">
                            <button class="btn btn-primary">Back</button>
                        </div>
                        <div class="text-center accept button-group" *ngIf="data.statusId==1">
                            <button class="btn btn-success " (click)="OnSubmit()">Accept</button>
                            <button class="btn btn-danger " (click)="openDialog()">Reject</button>
                        </div>
                        <div class="text-center" *ngIf="data.statusId==2">
                            <button class="btn btn-primary">Publish</button>
                        </div>
                    </div>
                </div>
                <div class="awardreason" *ngIf="show==2">
                        <p>{{data.reason}},Artificial intelligence (AI) is intelligence demonstrated by machines, as opposed to the natural intelligence displayed by animals including humans. AI research has been defined as the field of study of intelligent agents, which refers to any system that perceives its environment and takes actions that maximize its chance of achieving its goals.
                            AI research has been defined as the field of study of intelligent agents, which refers to any system that perceives its environment and takes actions that maximize its chance of achieving its goals
                        </p>
                </div>
                <div class="rejectreason" *ngIf="show==3"> 
                    <p>{{data.rejectedReason}},Artificial intelligence (AI) is intelligence demonstrated by machines, as opposed to the natural intelligence displayed by animals including humans. AI research has been defined as the field of study of intelligent agents, which refers to any system that perceives its environment and takes actions that maximize its chance of achieving its goals.
                        AI research has been defined as the field of study of intelligent agents, which refers to any system that perceives its environment and takes actions that maximize its chance of achieving its goals.
                    </p>
                </div>
            </div>
        </div>
        
       
        
    </div>
</div>