.container {
  padding-top: 120px;
  padding-left: 200px;
  display: grid;
  grid-template-columns: 200px 700px; 
  grid-template-rows: 400px;
  grid-column-gap: 0px;
  
}
.awardreason{
  position: absolute;
  max-height: 0px;
  width: 100%;
  height: 210px;
  z-index: 3;
}

.rejectreason{
  width: 648px;
  height: 210px;
}
.item-image {
 border : solid 1px grey;
}
.item-content {
  border: solid 1px black;
}
img{
  width:120px;
  height:120px;
  min-height:100px;
} 
.img1{
  padding-top: 35px;
}
.img2{
  padding-top: 60px;
}
.item-content h2{
  padding-top: 10px;
  padding-right: 200px;
}
.button{
  padding-top: 10px;
  padding-right: 200px;
}
.about-content{
  padding-left: 50px;
  padding-top: 30px;
}
.about-content input{
  margin-right: 300px;
}
.about-content label{
   float: left;
}




