.container {
  padding-top: 120px;
  padding-left: 200px;
  display: grid;
  grid-template-columns: 200px 700px; 
  grid-template-rows: 400px;
  grid-column-gap: 0px;
  
}
/* scrollbar */


::-webkit-scrollbar {
  width: 3px;
  /* margin-right:5px; */
}
.item-image {
 border : solid 1px grey;
}
.item-content {
  border: solid 1px black;
  overflow-y:auto;
}
img{
  width:120px;
  height:120px;
  min-height:100px;
} 
.img1{
  padding-top: 35px;
}
.img2{
  padding-top: 60px;
}
.item-content h2{
  padding-top: 10px;
  padding-right: 200px;
}
.button{
 
  padding-right: 200px;
}

.accept{
  padding-top: 15px;
}
.about-content{
  padding-left: 50px;
  padding-top: 30px;
}
.about-content input{
  margin-right: 300px;
}
.about-content label{
   float: left;
}
.awardreason p{
  line-height: 40px;
  text-align: justify;
  padding-right: 15px;
}
.rejectreason p{
  line-height: 40px;
  text-align: justify;
  padding-right: 15px;
}




