<app-layout></app-layout>
<app-sidebar></app-sidebar>
<div class="container d-flex justify-content-center ">

    <div class="card " style="border-radius: 15px; width: 600px; margin-top: 30px;">
        <div class="card-body " style="width:600px">

            <div class="row">

                <div class="col">
                    <div class=" rounded-circle text-center">
                        <div class="mt-3 mb-4 text-center" *ngIf="data.awardeeImage==null ; else elseimage">

                            <img *ngIf="data.gender=='Male';else elsegender " src='assets/images/male.jpg'
                                class="rounded-circle img-fluid" width="100px" />
                            <ng-template #elsegender> <img src='assets/images/female.jpg'
                                    class="rounded-circle img-fluid" width="100px" /></ng-template>
                        </div>
                        <ng-template #elseimage>
                            <div class="mt-3 mb-4 text-center"><img [src]="'data:image/jpg;base64,'+ data.awardeeImage"
                                    class="rounded-circle img-fluid" width="100px" />
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="col">
                    <div class=" rounded-circle text-center">

                        <div class="mt-3 mb-4 text-center" *ngIf="data.awardImage==null ; else elseawardimage">
                            <img src='assets/images/award.png' class="rounded-circle img-fluid" width="100px" heigth="100px" />
                        </div>
                        <ng-template #elseawardimage>
                            <div class="mt-3 mb-4 text-center"><img [src]="'data:image/jpg;base64,'+ data.awardImage"
                                     class="rounded-circle img-fluid" width="100px" height="100px" /></div>
                        </ng-template>
                    </div>
                </div>
            </div>



            <div class="row">
                <h2 style="text-align: center;">Employee Details</h2>
                <div class="col-sm-3">
                    <p class="mb-0">ACEID</p>

                    <p class="text-muted mb-0">{{data.aceId}}</p>
                </div>

                <div class="col-sm-3">
                    <p class="mb-0">Name</p>

                    <p class="text-muted mb-0">{{data.awardeeName}}</p>
                </div>
            
            

            
                <div class="col-sm-3">
                    <p class="mb-0">Designation</p>

                    <p class="text-muted mb-0">{{data.designation}}</p>
                </div>

                <div class="col-sm-3">
                    <p class="mb-0">Department</p>

                    <p class="text-muted mb-0">{{data.department}}</p>
                </div>
            </div>
            <hr>

            <div class="row">
                <h2 style="text-align: center;">Award Details</h2>
                <div class="col-sm-3">
                    <p class="mb-0">Approver</p>

                    <p class="text-muted mb-0">{{data.approverName}}</p>
                </div>

                <div class="col-sm-3">
                    <p class="mb-0">Award</p>

                    <p class="text-muted mb-0">{{data.award}}</p>
                </div>
            
                <div class="col-sm-3">
                    <p class="mb-0">Reason</p>

                    <p class="text-muted mb-0">{{data.reason}}</p>
                </div>

                <div class="col-sm-3" *ngIf="data.statusId==3">
                    <p class="mb-0">Rejected Reason</p>
                    <p class="text-muted mb-0">{{data.rejectedReason}}</p>
                </div>
            </div>

            <br>
            <div class="button-group text-center mt-3">
                <a [routerLink]="['/requester-request']" routerLinkActive="router-link-active"
                    class="btn btn-primary ">Back </a>
            </div>

        </div>
    </div>
</div>