p{
    line-height:20px;
    font-weight: 800;
}
h2{
    font-weight: bold;

}
img{
    width:100px;
    height:100px;
    min-height:100px;
}


/* correccted css */
.card{
    border-radius: 15px;
    width: 100%;
    margin-top: 30px;
}
.card-body{
    width:100%;
}
.img-fluid{
    width: 100px;
    height: 100px;
}
.reason{
    height: 4rem;
    width: 100%;
    text-align: center;
}
#reason{
    text-align: center;
}
#requestdetails{
    text-align: center;
}