#img {
    height: 100px;
    width: 100px;
}
.award {
    margin-bottom: 10px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.border-box {
    position: relative;
}
/* textarea {
    overflow: auto;
    resize: both;
} */
textarea{
    height:8rem;
    width: 28rem;
}
.award-description{
    padding: 10px;
}

.form-control{
    width: 28rem;
}

.choose-box{
    margin-left:-5rem; 
}
.img-danger-text{
    margin-left:-5rem;
}

@media(max-width:1920px) {
    .editAwardbutton {
        margin-top: 40px;
        justify-content: center;
    }
}

@media (max-width:1200px) {
    .editAwardbutton {
        margin-top: 40px;
        justify-content: center;
    }

    .editAwardbutton button {
        max-width: 130px;
    }
}

@media (max-width: 768px) {

    .editAwardbutton button {
        margin: 5px;
    }
}
@media(max-width:280px) {

    .input-group,
    .form-control {
        width: 180px;

    }
}
@media(max-width:800px) {

    .chooseImage {
        padding:15px;

    }
}
