<app-layout></app-layout>
<app-sidebar></app-sidebar>
<div class="container d-flex justify-content-center table-box">

    <form class="border-box position-relative" #ngForm (ngSubmit)="OnSubmit()" >

        <span class="border-box-tip"><b>Edit Awards</b></span>

        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">
                <label  class="col-form-label">Award Name</label>
                <input type="text"  class="form-control" name="awardName" value={{data.awardName}} [(ngModel)]="data.awardName" >
            </div>
        </div>
        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">
                <label  class="col-form-label">Award Description</label>
                <input type="text" class="form-control" name="awardDescription" value={{data.awardDescription}} [(ngModel)]="data.awardDescription">

            </div>
        </div>
        <div class="row g-3 align-items-center justify-content-center mb-3">
        <div class="col-auto p-1.5">
            <label class="col-form-label">Award Image</label>
            <input type="file" #image="ngModel" accept=".jpeg,.jpg,.png" required (change)="ImageConversion($event)" id="image" class="fileInputProfile" name="image"  [ngModel]="data.Image" >
            <div *ngIf ="image.touched && image.errors?.['required']" class="alert alert-danger">
                Image is Required!
            </div>
            <img [src]="imgsrc" height="100">
            <label class="text-danger"> {{imageError}}</label>

        </div>
    </div>


        <div class="row justify-content-center align-items-center mt-5 button-group">
             <button  type="submit"  class="btn btn-primary col-lg-2">Update</button>
            <button [routerLink]="['/awards']" class="btn btn-danger col-lg-2">Cancel</button>
        </div>
    </form>
</div>

l
