<app-layout></app-layout>
<app-sidebar></app-sidebar>

<!-- edit awards container contains awardname, award description,award image -->
<div class="container table-box">

    <form class="border-box" #ngForm (ngSubmit)="OnSubmit()" >

        <span class="border-box-tip"><b>Edit Awards</b></span>

        <div class="award row">
            <div class="col-auto ">
                <label  class="col-form-label">Award Name</label>
                <input type="text" #name="ngModel"  required pattern="^[a-zA-Z][a-zA-Z\s]{0,20}[a-zA-Z]$" class="form-control" name="awardName" value={{data.awardName}} [(ngModel)]="data.awardName" >
                <div *ngIf ="name.touched && name.errors?.['required']" class="text-left text-danger">
                    Award Name is Required!
                </div>
                <div *ngIf ="name.touched && name.errors?.['pattern']" class="text-left text-danger" >
                    Award Name is invalid!
                </div>
            </div>
        </div>
        <div class="award row">
            <div class="col-auto p-1.5">
                <p  class="col-form-label text-left">Award Description</p>
                <textarea type="text" #description="ngModel"  required pattern="/\w*\s*|\w|\D/gm"  name="awardDescription" class="award-description" value={{data.awardDescription}} [(ngModel)]="data.awardDescription"></textarea>
                <div *ngIf ="description.touched && description.errors?.['required']" class="text-left text-danger">
                    Description is Required!
                </div>
                <div *ngIf ="description.touched && description.errors?.['pattern']" class="text-left text-danger" >
                    Description is invalid!
                </div>
                <div class="choose-file-label">
                    <label class="col-form-label ">Award Image</label>
                </div> 
            </div>
        </div>
        
        <div class="award row"> 
        <div class="col-auto p-1.5">
            
            <input type="file" #image="ngModel" accept=".jpeg,.jpg,.png" required (change)="ImageConversion($event)" id="image" class="choose-box" name="image"  [ngModel]="data.Image" >
            <div *ngIf ="image.touched && image.errors?.['required']" class="text-left text-danger img-danger-text">
                Image is Required!
            </div>
            
            <label class="text-danger"> {{imageError}}</label>

        </div>
        <img [src]="imgsrc" id="img">
    </div>


        <div class="editAwardbutton row mt-5 button-group">
             <button  type="submit"  class="btn btn-primary col-lg-2">Update</button>
            <button [routerLink]="['/awards']" class="btn btn-danger col-lg-2">Cancel</button>
        </div>
    </form>
</div>

l
