

h2{
    text-align: center;
}

.space {
    width: 8px;
    height: auto;
    display: inline-block;
  }
  p{
    line-height:20px;
    font-weight: 800;
}
h2{
    font-weight: bold;

}
img{
    width:100px;
    height:100px;
    min-height:100px;
}