<app-layout></app-layout>
<div *ngIf="isValidUser!==null">
  <app-sidebar></app-sidebar>
</div>

<link href="https://fonts.googleapis.com/css?family=Schoolbell&v1" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&family=Splash&display=swap"
  rel="stylesheet">


<!-- Filter Container  contains Search,award dropdown,date picker-->
<div class="homepage">
  <div class="homepagefilter">
    <div class="align-items-center">
      <div class="row">
        <div class="col-auto" id="searchfilter">
          <div class="form-inline btn-group search">
            <input type="search" [(ngModel)]="searchValue" class="form-control"  placeholder="Search by Name or Award"
              aria-label="Search" aria-describedby="search-addon" />
          </div>
          <button (click)="advanced()" class="advanced btn btn-primary"><i *ngIf="isShow"
              class="fa-solid fa-filter"></i><i *ngIf="!isShow" class="fa-solid fa-filter-circle-xmark"></i></button>
        </div>
      </div>
      <form class="row filterform" #filterForm="ngForm" *ngIf="!isShow">
        <div class="col-auto">
          <label class="col-form-label" for="exampleFormControlSelect1">Organisation</label>
          <div class="col input-group">
            <select name="organisationId" [value]="0" name="SelectOrg" [(ngModel)]="searchOrganisation"
              (change)="onSelectDep()" required class="form-select">
              <option value=0 selected>Choose..</option>
              <option *ngFor="let items of organisations" ngValue={{items.id}}>{{items.organisationName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-auto">
          <label class="col-form-label" for="exampleFormControlSelect1">Department</label>
          <div class="input-group">
            <select name="departmentId" [value]="0" [(ngModel)]="searchDepartment" class="form-select">
              <option value=0 selected>Choose..</option>
              <option *ngFor="let items of departments" ngValue={{items.id}}>{{items.departmentName}}</option>
            </select>
          </div>
        </div>
        <div class="col-auto" id="awardfilter">
          <label class="col-form-label" for="exampleFormControlSelect1">Award Type</label>
          <div class="input-group">
            <select name="searchAwardType" [value]="0" [(ngModel)]="searchAwardType" required class="form-select">
              <div class="alert alert-danger">
                Award Name is Required!
              </div>
              <option value=0 selected>Choose...</option>
              <option *ngFor="let items of awardTypes" value={{items.id}}>{{items.awardName}}</option>
            </select>
          </div>
        </div>


        <div class="col-auto" id="datepicker">
          <label class="col-form-label" for="fromdate">From Date</label>
          <div class="input-group col-auto ">
            <input class="form-control " [(ngModel)]="FromDate" type="date" id="fromdate" name="fromdate">
          </div>
        </div>

        <div class="col-auto" id="datepicker">
          <label class="col-form-label" for="todate">To Date</label>
          <div class="input-group col-auto">
            <input class="form-control " [(ngModel)]="ToDate" type="date" id="fromdate" name="todate">
          </div>
        </div>
        <div class="applybutton col-auto">
          <button id="applybutton"
            [disabled]="searchOrganisation === 0 && searchDepartment === 0 && searchAwardType === 0 && FromDate===ToDate && ToDate===FromDate"
            (click)="awardFilter(searchOrganisation,searchDepartment,searchAwardType,FromDate,ToDate)">Apply</button>
        </div>
        <div class="applybutton col-auto">
          <button id="applybutton" [disabled]="searchOrganisation === 0 && searchDepartment === 0 && searchAwardType === 0  && FromDate===ToDate && ToDate===FromDate " (click)="Reset()">Reset</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Home page Card Container contains award image, awardee image,award name-->
  
  <div class=" container row" id="cardflip">
    <div class="card"
      *ngFor="let item of awardData |filter:searchValue | paginate: { itemsPerPage: 6, currentPage: page }">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="./assets/images/cardback.png" class="card-img-top" alt="Fissure in Sandstone" />
          <div class="card-img-overlay">

            <img class="card-img-left" [src]="'data:image/jpg;base64,'+ item.awardImage" alt="Avatar">
          </div>
          <div class="card-img-overlay">

            <img class="card-img-right" [src]="'data:image/jpg;base64,'+ item.awardeeImage" alt="Avatar">
          </div>
        </div>
        <div class="card-body">
          <p id="text"><b>Congrats {{item.awardeeName}} for getting {{item.awardName}}</b></p>
          <h4 [ngClass]="{'limitTextHeight': isReadMore}">{{item.reason}}</h4>
        </div>
        <button id="readmorebutton" [routerLink]="['/comments',item.id]">
          Read More...
        </button>
      </div>
    </div>
    <ng-container *ngIf="( awardData |filter:searchValue) as result">
      <h3  class="no-records" *ngIf="result.length === 0">No Records found</h3>
      <pagination-controls class="paginate" *ngIf="result.length !== 0" (pageChange)="page = $event"></pagination-controls> 
    </ng-container>    

  </div>
</div>