<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="navbar-brand ">
        <h2 style="margin-left: 30px;">Tenacious</h2>
    </div>

    <div class="container-fluid">

        <!-- <div class="navbar-collapse d-flex align-items-center" id="navbarSupportedContent"> -->

    </div>
    <!-- <a href="#" class="nav navbar-nav"><img src="./assets/images/Adminlogo.png" alt="Admin Logo"
            style="position:absolute;width:60px;height:60px;right: 60px;bottom:6px"></a> -->

    <div class="dropdown">

        <button class="dropbtn" id="imgdrop">

            <img  id="profilelogo" src="./assets/images/Adminlogo.png">
        </button>
        <div class="dropdown-content" style="right: 0.5px;" >
            <a href="#">
                Profile</a>
            <a href="#">
                Logout</a>
        </div>
    </div>






    <!-- </div> -->
</nav>