<!-- <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="navbar-brand ">
        <h2 id="nav-logo">Tenacious</h2>
    </div>

    <div class="container-fluid">

        <!-- <div class="navbar-collapse d-flex align-items-center" id="navbarSupportedContent"> -->

<!-- </div>
    <!-- <a href="#" class="nav navbar-nav"><img src="./assets/images/Adminlogo.png" alt="Admin Logo"
            style="position:absolute;width:60px;height:60px;right: 60px;bottom:6px"></a> -->

<!-- <div class="d-flex align-items-center dropdown">

        <button class="dropbtn" id="imgdrop"> -->

<!-- <table >
                <tr>
                    <td>Rolex</td>
                <td > <img  id="profilelogo" src="./assets/images/Adminlogo.png">
                </td>
                </tr>
                
            </table>
 -->


<!-- 
        </button>
        <div class="dropdown-content" style="right: 0.5px;" >
            <a href="#">
                Profile</a>
            <a href="#">
                Logout</a>
        </div>
    </div>
 -->





<!-- </div> -->
<!-- </nav> -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <!-- Container wrapper -->

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->

            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="navbar-brand">
                    <a id="nav-logo" href="#">Tenacious</a>

                </div>

            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <!-- <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
        
   -->
            <!-- Notifications -->
            <a id="logout" href="#">Logout</a>
        



    
            <!-- Avatar -->

        </div>
        <!-- Right elements -->
    
    <!-- Container wrapper -->
</nav>