

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <!-- Container wrapper -->

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->

            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="navbar-brand">
                    <a id="nav-logo" [routerLink]="['/homecard']"> Tenacious</a>

                </div>

            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div  class=" align-items-center">
            <div class="navbar-brand">
                
            <a *ngIf="user!=null;else elseblock" title="Logout" routerLinkActive="active" id='logout'(click)="onLogout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>

            </div>
            <ng-template #elseblock> <a routerLinkActive="active" id='logout'(click)="onLogin()"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        </ng-template> 
        </div>
</nav>