<div id="outer">
  <app-layout></app-layout>
  <app-sidebar></app-sidebar>
  <div class="filters ">
    <div class="row g-4 ml-3 mb-2">
      <div class="col-auto dashboardfilter " style="display:inline;">
        <label for="org" class="col-form-label">Organisation</label>
        <div class="input-group">
          <select name="organisationId"  [value] = "0" name="SelectOrg" [(ngModel)]="SelectOrg" onclick="changeid()" (change)="onSelectorg()" class="custom-select">
            <option value = 0 selected>Choose...</option>
            <option *ngFor="let items of organisations" ngValue={{items.id}}>{{items.organisationName}}</option>
          </select>
        </div>
      </div>
      <div class="col-auto dashboardfilter" style="display:inline;">
        <label for="org" class="col-form-label">Department</label>
        <div class="input-group">
          <select name="departmentId"  [value] = "0" name="SelectDep" [(ngModel)]="SelectDep" onclick="changeid()"  class="custom-select">
            <option value = 0 selected>Choose...</option>
            <option *ngFor="let items of departments" ngValue={{items.id}}>{{items.departmentName}}</option>
          </select>
        </div>
      </div>
      <div class="awardFilter dashboardfilter">
        <label  class="col-form-label" for="exampleFormControlSelect1">Award</label>
        <div class="input-group">
          <select name="awardTypeId" [value] = "0" #awardName="ngModel" name="SelectAward" [(ngModel)]="SelectAward" (change)="onSelectAward()" onclick="changeid()"
            class="custom-select">
            <div *ngIf="awardName.touched && awardName.errors?.['required']" class="alert alert-danger">
              Award Name is Required!
            </div>
            <option value = 0 selected>Choose...</option>
            <option *ngFor="let items of awardData" value={{items.id}}>{{items.awardName}}</option>
          </select>
        </div>
      </div>

      <div class="fromdate">

        <label  class="col-form-label ml-3" for="fromdate">From Date</label>

        <div class="input-group col-auto ">

          <input class="form-control " type="date" id="fromdate" name="fromdate" [(ngModel)]="fromdate">

        </div>

      </div>

      <div class="todate">

        <label  class="col-form-label ml-3" for="todate">To Date</label>

        <div class="input-group col-auto ">

          <input class="form-control" type="date" id="fromdate" name="todate" [(ngModel)]="todate">

        </div>

      </div>
      
      <div class="apply " >
        <button  (click)="Apply(SelectOrg, SelectDep, SelectAward, fromdate, todate)" type="submit">Apply</button>
      </div>
      <div *ngIf="res" class="reset">
        <button (click)="Pie()" type="submit">Reset</button>
      </div>


    </div>
    <!-- <div style="height:50%;width:75%;position:absolute; left:15%;bottom:5%">
      <canvas baseChart [data]="salesData" [type]="'pie'" [options]="chartOptions">
      </canvas>
    </div>
  </div> -->

  
    <div class="piechart container d-flex justify-content-center">
        <canvas baseChart
              id="myChart"
              [type]="'pie'"
              [datasets]="pieChartDatasets"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend" >
        </canvas>

    </div>


  </div>

</div>
  

  <!-- </div> -->

  

  
  

  <!-- <div id="bargraph" class="wrapper">
    <canvas baseChart id="barchart" ></canvas>
  </div>
  <div id="bargraph" class="wrapper">
    <canvas id="barcharts" ></canvas>
  </div> -->
