

#outer{
    overflow-x: hidden;
}
.apply button{
    padding:0.5rem;
}
.reset{
    float:left; 
    width:auto;
    margin-top:3.5rem;
} 
.reset button{
    padding:0.5rem;
}

.input-group{
    width:150px;
    padding: 0%;
   
}
.form-control{
    width:180px;
    height: 28px;
}

.filters{
    padding-top: 10%;
    width: auto;
}
.apply,.reset{
    float:left;
    width:auto;
    margin-top:3.8rem;
}
.fromdate,.todate{
    float:left;
    width:170px;
}
.dashboardbutton{
    padding:0.5rem;
}
.awardFilter{
    display:inline;
    float:left;
    width:auto;
}
    /* .piechart{
        height:57%;
        width:50%;
        position:absolute;
        left:15%;
        bottom:5%
    } */
.custom-select{
    height: 40px;
}
    .dashboardfilter{
        padding-right:0%;
        display:inline;
    }
    @media(max-width:280px){
        #myChart{ width:250px; height:250px; }
    
        }
    @media(max-width:750px){
           
    .filters{
        padding-top: 30%;
       
       }

    }

    @media(min-width:820px){
           
        .filters{
            padding-top: 20%;
           margin-left: 100px;
           }

           
    #myChart{ width:500px; height:500px; }
    
        }

    @media(min-width:1024px){
        
        .filters{
          padding-top: 9%;
         width: auto;
         margin-left: 200px;
         }
    
        #myChart{ width:350px; height:350px; }
        }