<app-layout></app-layout>
<app-sidebar></app-sidebar>
<div class="container d-flex justify-content-center table-box">


  <!-- Write your contents here -->


  <form class="border-box position-relative" #myForm="ngForm" (ngSubmit)="OnSubmit()">


    <span class="border-box-tip"><b>Raise request</b></span>



    <div class="row g-3 align-items-center justify-content-center mb-3">

      <div class="col-auto p-1.5">
        <label class="labels">Awardee Name &nbsp; </label>

        <input [formControl]="searchAwardee" matInput type="text" [matAutocomplete]="auto" name="awardeeId"
          class="form-control">

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectAwardee($event)">
          <mat-option *ngFor="let item of filteredOptions | async" [value]="item.firstName" [id]="item.id">
            {{item.firstName}} </mat-option>
        </mat-autocomplete>
      </div>


      <div class="col-auto p-1.5">
        <label for="exampleFormControlSelect1">Award</label>
        <select name="awardTypeId" #awardName="ngModel" required [(ngModel)]="Awards.awardTypeId" class="custom-select"
          (change)="onSelectAward()">
          <div *ngIf="awardName.touched && awardName.errors?.['required']" class="alert alert-danger">
            Award Name is Required!
          </div>
          <option selected>Choose...</option>
          <option *ngFor="let items of data" value={{items.id}}>{{items.awardName}}</option>
        </select>
      </div>


      <div class="col-auto p-1.5">
        <label class="labels">Reason</label>
        <textarea style="height: 103px; width: 459px;" #reason="ngModel" required pattern="^[a-zA-Z][a-zA-Z\s]{0,100}[a-zA-Z]$" type="textarea" [(ngModel)]="Awards.reason" name="Awards.name"
          class="input-group" placeholder="Reason">
          <div *ngIf ="reason.touched && reason.errors?.['required']" class="alert alert-danger">
                Reason is Required!
            </div> 
            <div *ngIf ="reason.touched && reason.errors?.['pattern']" class="alert alert-danger" >
                Reason is invalid!
            </div>
        </textarea>
      </div>
    </div>






    <div class="row g-3 align-items-center mb-3">

      <div class="col-md-5 "  *ngIf="isAwardee==1">
        <div class="card  py-4"style=" margin-top: 10px;">
          <div class="text-center" *ngIf="awardeeData.image==null ; else elseimage">
            <img *ngIf="awardeeData.gender=='Male';else elsegender " src='assets/images/male.jpg' style=width:10rem;
              class="rounded-circle img-fluid" style="width: 100px;" />
            <ng-template #elsegender> <img src='assets/images/female.jpg' style=width:10rem;
                class="rounded-circle img-fluid" style="width: 100px;" /></ng-template>
          </div>
          <ng-template #elseimage>
            <div class="text-center"><img [src]="'data:image/jpg;base64,'+ awardeeData.image" style=width:10rem;
                class="rounded-circle img-fluid" style="width: 100px;" /></div>
          </ng-template>
          <div class="text-center mt-3">
            <span>{{awardeeData.firstName}} {{awardeeData.lastName}}</span>
            <h5 class="mt-2 mb-0">{{awardeeData.designationName}}</h5>
            <h5 class="mt-2 mb-0">{{awardeeData.departmentName}} , {{awardeeData.organisationName}}</h5>
          </div>
        </div>
      </div>

      <div class="col-md-7"  *ngIf="isAward==1">


        <div class="card p-3 py-4" style="height: 250px; overflow: auto;width: 300px;margin-left: 6rem; margin-top: 10px;">
          <div class="mt-3 mb-4 text-center" *ngIf="awardData.image==null ; else elseimage">
            <img src='assets/images/award.png' style=width:10rem; class="rounded-circle img-fluid"
              style="width: 100px;" />
          </div>
          <ng-template #elseimage>
            <div class="mt-3 mb-4 text-center"><img [src]="'data:image/jpg;base64,'+ awardData.image" style=width:10rem;
                class="rounded-circle img-fluid" style="width: 100px;" /></div>
          </ng-template>
          <div class="text-center mt-3">
            <span>{{awardData.awardName}}</span>
            <h5 class="mt-2 mb-0">{{awardData.awardDescription}}</h5>
          </div>
        </div>
      </div>
    </div>







    <div class="row justify-content-center align-items-center mt-5 button-group">

      <button type="submit" class="btn btn-primary col-lg-2" [disabled]="!myForm.form.valid" >Submit</button>
      <a [routerLink]="['/requester-request']" routerLinkActive="router-link-active" class="btn btn-danger col-lg-2"
        type="button">Cancel</a>
    </div>
  </form>

</div>