.errorMessage {
    padding-right: 250px;
    text-align: center;
}

/* corrected css */

.input-group {
    height: 103px;
    width: 459px;
}

.img-fluid {
    width: 100px;
}

.card {
    height: 250px;
    overflow: auto;
    width: 300px;
    margin-left: 6rem;
    margin-top: 10px;
}

.addrequest {
    justify-content: center;
}