<app-layout></app-layout>
<app-sidebar></app-sidebar>
<!-- Requester add request container contains awardee name, award name, reason for the award -->
<div class="container table-box">
  <form class="border-box position-relative" #myForm="ngForm" (ngSubmit)="OnSubmit()">
    <span class="border-box-tip"><b>Raise request</b></span>
    <div class="addrequest row g-3 ">
      <div class="awardeeText col-auto ">
        <label class="labels">Awardee Name &nbsp; </label>
        <input [formControl]="searchAwardee" matInput type="text" required [matAutocomplete]="auto" placeholder="Awardee Name" name="awardeeId"
          class="form-control" [(ngModel)]="Awards.AwardeeName">
          <div *ngIf="reason.touched && reason.errors?.['required']" class="alert alert-danger">
            AwardeeName is Required!
          </div>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectAwardee($event)">
          <mat-option *ngFor="let item of filteredOptions | async" [value]="item.firstName" [id]="item.id">
            {{item.firstName}} </mat-option>
        </mat-autocomplete>
      </div>
      <div class="Award col-auto ">
        <label for="exampleFormControlSelect1">Award</label>
        <select name="awardTypeId" #awardName="ngModel"  required [(ngModel)]="Awards.awardTypeId" class="custom-select"
          (change)="onSelectAward()">
          <div *ngIf="awardName.touched && awardName.errors?.['required']" class="alert alert-danger">
            Award Name is Required!
          </div>
          <option *ngFor="let items of data" value={{items.id}}>{{items.awardName}}</option>
        </select>
      </div>
      <span class="text-danger errorMessage">{{error}}</span>
      <div class="col-auto p-1.5">
        <label class="labels">Reason</label>
        <textarea type="textarea" name="reason" class="input-group " placeholder="Reason" #reason="ngModel"
          required pattern="/\w*\s*|\w|\D/gm" [(ngModel)]="Awards.reason"></textarea>
        <div *ngIf="reason.touched && reason.errors?.['required']" class="alert alert-danger">
          Reason is Required!
        </div>
        <div *ngIf="reason.touched && reason.errors?.['pattern']" class="alert alert-danger">
          Reason is invalid!
        </div>
      </div>
    </div>
    <!-- Requester add request container contains awardee image,award image-->

    <div class="row g-3 mb-3">
      <div class="col-md-5 " *ngIf="isAwardee===1">
        <div class="card py-4">
          <div class="text-center" *ngIf="awardeeData.image===null ; else elseimage">
            <img *ngIf="awardeeData.gender==='Male';else elsegender " src='assets/images/male.jpg'
              class="rounded-circle img-fluid" />
            <ng-template #elsegender> <img src='assets/images/female.jpg' class="rounded-circle img-fluid" />
            </ng-template>
          </div>
          <ng-template #elseimage>
            <div class="text-center"><img [src]="'data:image/jpg;base64,'+ awardeeData.image"
                class="rounded-circle img-fluid" /></div>
          </ng-template>
          <div class="text-center mt-3">
            <span>{{awardeeData.firstName}} {{awardeeData.lastName}}</span>
            <h5 class="mt-2 mb-0">{{awardeeData.designationName}}</h5>
            <h5 class="mt-2 mb-0">{{awardeeData.departmentName}} , {{awardeeData.organisationName}}</h5>
          </div>
        </div>
      </div>
      <div class="awardImage col-md-5" *ngIf="isAward===1">
        <div class="card py-4">
          <div class="text-center" *ngIf="awardData.image===null ; else elseimage">
            <img src='assets/images/award.png' class="rounded-circle img-fluid" />
          </div>
          <ng-template #elseimage>
            <div class="text-center"><img [src]="'data:image/jpg;base64,'+ awardData.image"
                class="rounded-circle img-fluid" /></div>
          </ng-template>
          <div class="text-center mt-3">
            <span>{{awardData.awardName}}</span>
            <h5 class="mt-2 mb-0">{{awardData.awardDescription}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="addrequest row mt-5 button-group">
      <button (click)="CheckName(Awards.AwardeeName)" type="submit" class="btn addbutton btn-primary col-lg-2"
        [disabled]="!myForm.form.valid">Submit</button>
      <a [routerLink]="['/awardlist/2']" routerLinkActive="router-link-active" class="btn closeButton btn-danger col-lg-2"
        type="button">Cancel</a>
    </div>
  </form>
</div>