<div class="form-group shadow-textarea"  *ngIf="data.count===true && dataType==='boolean'  " >
  <mat-dialog-content>
      <h5>{{data.name}} was successfully disabled</h5>
  </mat-dialog-content>
      <div class="text-center mt-4">
          <button (click)="close()" class="btnak btn-danger">Ok</button>
      </div>
</div>
<div class="form-group shadow-textarea"  *ngIf="data.count===false ">
  <mat-dialog-content>
      <h5>{{data.name}} was not disabled</h5>
  </mat-dialog-content>
      <div class="text-center mt-4">
          <button (click)="close()" class="btnak btn-danger">Ok</button>
      </div>
</div>

<!--add-->
<div class="form-group shadow-textarea"  *ngIf="data.isvalid===true " >
    <mat-dialog-content>
        <h5>{{data.name}} {{data.value}} was successfully added</h5>
    </mat-dialog-content>
        <div class="text-center mt-4">
            <button (click)="close()" class="btnak btn-danger">Ok</button>
        </div>
  </div>
<!---->  




<div class="form-group shadow-textarea" *ngIf="data.count>=1 && dataType==='number'   ">
  <mat-dialog-content>
      <h5> There are {{data.count}} Employees assigned to {{data.name}} .<br>
         Kindly map them to other {{data.value}} to disable this {{data.value}} {{data.name}}.</h5>
  </mat-dialog-content>
      <div class="text-center mt-4">
          <button (click)="close()" class="btnak btn-danger">Ok</button>
      </div>
</div>
  <div class="form-group shadow-textarea" *ngIf="data.value">
    <mat-dialog-content>
       <h5>You should Login to comment this post!</h5>
    </mat-dialog-content>
        <div class="text-center mt-4">
            <button [routerLink]="['./login']" (click)="close()" class="btnak btn-primary ">Login</button>
            <button  (click)="close()" class="btnak btn-danger">Close</button>
        </div>
  </div>

