 @media (max-width: 1024px) {
    .form-select{
        display:flex;
    }
} 
 .form-select{
    width:auto;
} 

.no-records{
    margin-top:4rem;
    font-weight: 900;
    text-align: center;
  }

/* Corrected css */
.pagination{
    justify-content: center;
}
.tabledata{
    text-align: center;
}
@media(max-width:580px) {

    .form-control {
        width: 145px;
    }
  }
  @media(max-width:360px) {
    .form-control{
        width: 140px;
    }
}
  @media(max-width:912px){
    .container{
        padding-top: 80px;
    }
  }
@media(min-width:540px){
    .filterbox{
        margin:0px;
    }
}
@media(max-width:280px)
{
    .searchfilter{
        float: left;
        margin-top: 20px;
    }
    .filterbox{
        padding-right: 35%;
    }
}
