.tog-btn {
    position: fixed;
    top: 5px;
    right: 8px;
}
#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 1.0s;
}
@media (max-width: 991.98px) {
    #sidebar {
        margin-left: 0px;
    }
}