
<nav  id="sidebar">
    <div class="custom-menu">
        <button (click)=toggleDisplayDivIf()  type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars" aria-hidden="true"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
    </div>

    <div *ngIf="!isShowDivIf" @ngIfAnimation  @easeInOut class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-6"><img src="./assets/images/male.png" alt="Admin Logo" style="margin-left:0.8rem;width:8rem;height:8rem"></a>
        <!-- <h4 class="text-light mt-4 text-center">Admin</h4> -->
        <!-- Admin Sidebar -->
        <div *ngIf="role==1; else userSidebar">
        <ul class="list-unstyled components mt-4 mb-5 sidebar-items">
            <li>
                <a [routerLink]="['/dashboard']">  <i class="fa-solid fa-house ml-4 mr-4"></i>Home</a>
            </li>
            <li>
                <a [routerLink]="['/awards']" ><i class="fa-solid fa-trophy ml-4 mr-4"></i>Awards</a>
            </li>
            <li>
                <a [routerLink]="['/employee']"><i  class="fa-solid fa-user ml-4 mr-4"></i>Employee</a>
            </li>
            <li>
                <a [routerLink]="['/organisation']"><i  class="fa-solid fa-building ml-4 mr-4"></i>Organization</a>
            </li>
            <li>
                <a [routerLink]="['/department']" ><i  class="fa-solid fa-layer-group ml-4 mr-4"></i>Department</a>
            </li>
            <li>
                <a [routerLink]="['/designation']"><i  class="fa-solid fa-sitemap ml-4 mr-4"></i>Designation</a>
            </li>
        </ul>
        </div>
        <!-- User Sidebar -->
        <ng-template  #userSidebar>
        <div>
            <ul class="list-unstyled components mt-4 mb-5 sidebar-items">
                <li>
                    <a  [routerLink]="['/cardpost']"> <i class="fa-solid fa-house ml-4 mr-4"></i>Home</a>
                </li>
                <li>
                    <a [routerLink]="['/cardpost']" ><i class="fa-solid fa-trophy ml-4 mr-4"></i>My Awards</a>
                </li>
                <li>
                    <a [routerLink]="['/Profile']"><i  class="fa-solid fa-user ml-4 mr-4"></i>Profile</a>
                </li>
                <li *ngIf="role==3 || role==4 || role==5">
                    <a [routerLink]="['/requester-request']"><i  class="fa-solid fa-building ml-4 mr-4"></i>Request</a>
                </li>
                <li *ngIf="role==4 || role==5">
                    <a [routerLink]="['/approver-approval']" ><i  class="fa-solid fa-layer-group ml-4 mr-4"></i>Approval</a>
                </li>
                <li *ngIf="role==5">
                    <a [routerLink]="['/hr-publish']"><i  class="fa-solid fa-sitemap ml-4 mr-4"></i>Publish</a>
                </li>
                <li *ngIf=" role==5">
                    <a [routerLink]="['/dashboard']"><i  class="fa-solid fa-sitemap ml-4 mr-4"></i>Dashboard</a>
                </li>
            </ul>
            </div></ng-template>
    </div>
</nav>

