.tog-btn {
    position: fixed;
    top: 5px;
    right: 8px;
}
#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 1.0s;
}
@media (max-width: 991.98px) {
    #sidebar {
        margin-left: 0px;
    }
    #sidebar .custom-menu {
        margin-right: -20px !important;
        top: 10px !important;
    }
}